{% include "header.html" %}
<!-- Page Content -->
 
<div class="container">
	<!-- Jumbotron -->
	<div class="jumbotron" id="modif-jumbo-1">
		<h2 style="font-weight: bold">Control</h2>

			<a class="btn btn-lg btn-primary" href="/UsuariTots" role="button">Usuaris</a>
			<a class="btn btn-lg btn-primary" href="/RankingInicial" role="button">Ranking</a>
			<a class="btn btn-lg btn-primary" href="/ControlCapsulaInicial" role="button">ControlCapsula</a>
			<a class="btn btn-lg btn-primary" href="/TreballTabla" role="button">Treballs</a>
		</p>
	</div>

</div>

{% include "footer.html" %}
