{% include "header.html" %}
<!-- Page Content -->
<div class="container">
	<!-- Jumbotron -->
		<h2>Rol</h2>
		{%ifequal idRol -1%} <!-- Preparat per a  nou -->
		<div class="container">
			<form action="/EsquemaSelect" method="get">
				<button type="submit" class="btn btn-lg btn-primary">Esquema</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" />
			</form>
			<br>
			<form action="/RolCrea" method="post">

			<div class="form-group">
					<label>Treballador:</label> 
					<select name="idTreballador" class="form-control">
	                                     <option></option>
							   {%for i in treballadorAct%}
										 <option value={{i.idTreballador}}>{{i.claveTreballador}}</option>
							   {%endfor%}
					</select>
				</div>
			<div class="form-group">
				<label>Rol: </label> <input type="text"
				class="form-control" name="rol" value="">
			</div>
			<div class="form-group">
						<label>Coordinador:</label> 
						<select name="marca" class="form-control">
							<option value=0>no</option>
							<option value=1>si</option>
						</select>
					</div>
			<button type="submit" class="btn btn-lg btn-primary" >Crea Rol</button>
			<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" />
			</form>

			</div>


		{%else%} <!--  select -->
			<div class="container">
			<form action="/EsquemaSelect" method="get">
				<button type="submit" class="btn btn-lg btn-primary">Esquema</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" />
			</form>
			<br />
			
			
			<form action="/RolEdita" method="get">
				
					<div class="form-group">
						<label>Treballador:</label> 
						<select name="idTreballador" class="form-control">
		                           {%for i in treballadorTots%}
		                                {%ifequal i.idTreballador rolSelect.idTreballador%}
		                                     <option value="{{i.idTreballador}}">{{i.claveTreballador}}</option>
		                                {%endifequal%}
		                           {%endfor%}
								   {%for i in treballadorAct%}
											 <option value={{i.idTreballador}}>{{i.claveTreballador}}</option>
								   {%endfor%}
						</select>
					</div>
			<div class="form-group">
				<label>Rol: </label> <input type="text"
				class="form-control" name="rol" value="{{rolSelect.rol}}">
			</div>
				<div class="form-group">	
					  {%ifequal rolSelect.marca "1"%}
		                   <label>Coordinador: </label> <input type="checkbox" class="form-control" name="marca" value=1 checked="checked">
		              {%else%}
		                   <label>Coordinador: </label> <input type="checkbox" class="form-control" name="marca" value=1>
		              {%endifequal%}
					</div>
			
				
					<button type="submit" class="btn btn-lg btn-primary">OK</button>
					<div>
					<input type="text" name="idRol" value="{{idRol}}" style="visibility: hidden" />
					</div>
					<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" />
					</div>
			</form>
			
			<form action="/RolNou" method="get">
				<button type="submit" class="btn btn-lg btn-primary" >Nou Rol</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" />
			</form>

					
		
		{%endifequal%}
		
		
		
			{%if rolEsq%}
			<h2><b>Rol</b></h2>
			<table id="mytable" class="table table-striped">
				<thead>
					<tr>
						<th>Treballador</th>
						<th>Rol</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{%for i in rolEsq%}
					<tr>
						{%ifequal i.marca "1"%}
						
						{%for j in treballadorTots%}
							{%ifequal i.idTreballador j.idTreballador%}
							<td id=color5>{{j.claveTreballador}}</td>
							{%endifequal%}
						{%endfor%}
						<td id=color5>{{i.rol}}</td>

						{%else%}
						
						{%for j in treballadorTots%}
							{%ifequal i.idTreballador j.idTreballador%}
							<td>{{j.claveTreballador}}</td>
							{%endifequal%}
						{%endfor%}
						<td>{{i.rol}}</td>
						
						{%endifequal%}
						<td><a class="btn btn-lg btn-primary btn-xs" role="button"
							href="/RolSelect?idRol={{i.idRol}}&idEsquema={{idEsquema}}"> <span
								class="glyphicon glyphicon-pencil"></span></a></td>
						<td><a class="btn btn-lg btn-primary btn-xs" role="button"
							href="/RolElimina?idRol={{i.idRol}}&idEsquema={{i.idEsquema}}"> <span
								class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
					{%endfor%}
				</tbody>
			</table>	
			{%endif%}
		</div>
		

{% include "footer.html" %}
