{% include "header.html" %}
<!-- Page Content -->
<div class="container">
	<!-- Jumbotron -->
	<h2>Tipos Treball</h2>
	{%ifequal idTipoTreball -2%} <!-- Sense  seleccionat -->
			
			<div class="container">
				<div class="row" id="modif-row-1">
					<div class="col-lg-2">
						<p>
							<a class="btn btn-lg btn-primary" id="button-ajouter"
								href="/TipoTreballNou" role="button">Crear TipoTreball</a>
						</p>
					</div>
				</div>
			<form action="/PressupostSelect" method="get">
				<button type="submit" class="btn btn-lg btn-primary" >Pressupost</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" /></div>
				<input type="text" name="idPressupost" value="{{idPressupost}}" style="visibility: hidden" /></div>
			</form>
			<br />
			<table id="mytable" class="table table-striped">
				<thead>
					<tr>
						<th>Clave</th>
						<th>Treball</th>
						<th>enActiu</th>
						<th>edita</th>
					</tr>
				</thead>
				<tbody>
					{%for i in tipoTreballTots%}
					<tr>
						<td>{{i.claveTreball}}</td>
						<td>{{i.treball}}</td>
						{%ifequal i.enActiu 0%}
							<td>no</td>
						{%else%}
							<td>si</td>
						{%endifequal%}

						<td><a class="btn btn-lg btn-primary btn-xs" role="button"
							href="/TipoTreballSelect?idTipoTreball={{i.idTipoTreball}}&idEsquema={{idEsquema}}&idPressupost={{idPressupost}}"> <span
								class="glyphicon glyphicon-pencil"></span></a></td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
			
		</div>
	{%else%}

		{%ifequal idTipoTreball -1%} <!-- Preparat per a  nou -->
			<div class="container">
			<form action="/TipoTreballTots" method="get">
				<button type="submit" class="btn btn-lg btn-primary" >Tots Tipos</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" /></div>
				<input type="text" name="idPressupost" value="{{idPressupost}}" style="visibility: hidden" /></div>
			</form>
			<br>
			<form action="/TipoTreballCrea" method="post">

			<div class="form-group">
				<label>Clave: </label> <input type="text"
				class="form-control" name="claveTreball" placeholder="clave treball">
			</div>
			<div class="form-group">
				<label>Treball: </label> <input type="text"
				class="form-control" name="treball" placeholder="treball">
			</div>
			<div class="form-group">
				<label>En Actiu:</label> 
				<select name="enActiu" class="form-control">
					<option value=0>no</option>
					<option value=1>si</option>
				</select>
			</div>

			<button type="submit" class="btn btn-lg btn-primary" >Crea Tipo</button>
			<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" /></div>
			</form>
			<form action="/EsquemaSelect" method="get">
				<button type="submit" class="btn btn-lg btn-primary">Esquema</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" /></div>
				<input type="text" name="idPressupost" value="{{idPressupost}}" style="visibility: hidden" /></div>
			</form>

			</div>

		{%else%} <!--  select -->
			<div class="container">
			<form action="/TipoTreballTots" method="get">
				<button type="submit" class="btn btn-lg btn-primary" >Tots Tipos</button>
				<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" /></div>
				<input type="text" name="idPressupost" value="{{idPressupost}}" style="visibility: hidden" /></div>
			</form>
			<br>

				<form action="/TipoTreballEdita" method="post">
				
			<div class="form-group">
				<label>Clave: </label> <input type="text"
				class="form-control" name="claveTreball" value="{{tipoTreballSelect.claveTreball}}">
			</div>
			<div class="form-group">
				<label>Treball: </label> <input type="text"
				class="form-control" name="treball" value="{{tipoTreballSelect.treball}}">
			</div>
					<div class="form-group">
						<label>En Actiu:</label> 
						<select name="enActiu"
							class="form-control">
							{%ifequal tipoTreballSelect.enActiu 0%}
							<option value=0>no</option>
							{%else%}
							<option value=1>si</option>
							{%endifequal%}
							<option value=0>no</option>
							<option value=1>si</option>
						</select>
					</div>			
				
					<button type="submit" class="btn btn-lg btn-primary">OK</button>
					<div>
					<input type="text" name="idTipoTreball" value="{{idTipoTreball}}" style="visibility: hidden" />
					</div>
					<input type="text" name="idEsquema" value="{{idEsquema}}" style="visibility: hidden" />
					</div>
					<input type="text" name="idPressupost" value="{{idPressupost}}" style="visibility: hidden" />
					</div>
				</form>

			</div>		
		
		{%endifequal%}
			
	{%endifequal%}
	


{% include "footer.html" %}
